@model CDYNews.Web.Models.FooterViewModel
<div class="footer-section">
    <div class="container">
        <div class="footer-grids">

            <div class="col-md-4 footer-grid">
                <h4>Danh mục phổ biến</h4>
                <ul class="td-pb-padding-side">
                    @foreach (var item in Model.PostCategories)
                    {
                        var url = "/" + item.Alias + ".pc-" + item.ID + ".html";
                        var postCount = (from a in Model.PostCategories
                                         from b in Model.Posts.Where(s => s.CategoryID == a.ID)
                                         where a.ID == item.ID
                                         select a.ID).ToList().Count;
                        <li><a href="@url">@item.Name<span class="td-cat-no">@postCount</span></a></li>
                    }
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>Giới thiệu</h4>
                <div class="editor-pics">
                    <p style="color:#9B9EA2; text-align: justify;text-justify: inter-word;">Trường Cao đẳng Y tế Quảng Nam, tiền thân là trường Cán bộ Y tế Quảng Nam và Trường Cán bộ Y tế Quảng Đà, được thành lập năm 1961, với nhiệm vụ đào tạo nguồn cán bộ Y- Dược, phục vụ cho chiến trường khu V, đặc biệt là tỉnh Quảng Đà và Quảng Nam - Đà Nẵng trước đây và tỉnh Quảng Nam ngày nay. </p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>Liên hệ chúng tôi</h4>
                <address>
                    <ul class="location">
                        <li><span class="glyphicon glyphicon-map-marker"></span></li>
                        <li>49 Nguyễn Du, An Mỹ, Tam Kỳ, Quảng Nam</li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="location">
                        <li><span class="glyphicon glyphicon-earphone"></span></li>
                        <li>0235 3828 267</li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="location">
                        <li><span class="glyphicon glyphicon-envelope"></span></li>
                        <li><a href="mailto:info@example.com">mail@example.com</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </address>
                <section class="social">
                    <a href="" class="icon fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="" class="icon tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="" class="icon gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </section>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//end-footer-section-->
    <!--/start-copyright-section-->
    <div class="copyright">
        <p>&copy; @DateTime.Now.Year K15QnamUni. All Rights Reserved | Designed by <a target="_blank" href="http://facebook.com/xuanh251">Virtus</a> </p>
    </div>
    </div>