<div class="footer-section">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-4 footer-grid">
                <h4>EDITOR PICKS</h4>
                <div class="editor-pics">
                    <div class="col-md-3 item-pic">
                        <img src="images/f1.jpg" class="img-responsive" alt="" />

                    </div>
                    <div class="col-md-9 item-details">
                        <h5 class="inner"><a href="#">More Than 120 ER Visits Linked To Synthetic WordPress In NYC...</a></h5>
                        <div class="td-post-date">Feb 22, 2015</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="editor-pics">
                    <div class="col-md-3 item-pic">
                        <img src="images/f2.jpg" class="img-responsive" alt="" />

                    </div>
                    <div class="col-md-9 item-details">
                        <h5 class="inner"><a href="#">More Than 120 ER Visits Linked To Synthetic WordPress In NYC...</a></h5>
                        <div class="td-post-date">Feb 22, 2015</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="editor-pics">
                    <div class="col-md-3 item-pic">
                        <img src="images/f3.jpg" class="img-responsive" alt="" />

                    </div>
                    <div class="col-md-9 item-details">
                        <h5 class="inner"><a href="#">More Than 120 ER Visits Linked To Synthetic WordPress In NYC...</a></h5>
                        <div class="td-post-date">Feb 22, 2015</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>POPULAR POSTS</h4>
                <div class="editor-pics">
                    <div class="col-md-3 item-pic">
                        <img src="images/f4.jpg" class="img-responsive" alt="" />

                    </div>
                    <div class="col-md-9 item-details">
                        <h5 class="inner"><a href="#">More Than 120 ER Visits Linked To Synthetic WordPress In NYC...</a></h5>
                        <div class="td-post-date">Feb 22, 2015</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="editor-pics">
                    <div class="col-md-3 item-pic">
                        <img src="images/f3.jpg" class="img-responsive" alt="" />

                    </div>
                    <div class="col-md-9 item-details">
                        <h5 class="inner"><a href="#">More Than 120 ER Visits Linked To Synthetic WordPress In NYC...</a></h5>
                        <div class="td-post-date">Feb 22, 2015</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="editor-pics">
                    <div class="col-md-3 item-pic">
                        <img src="images/f2.jpg" class="img-responsive" alt="" />

                    </div>
                    <div class="col-md-9 item-details">
                        <h5 class="inner"><a href="#">More Than 120 ER Visits Linked To Synthetic WordPress In NYC...</a></h5>
                        <div class="td-post-date">Feb 22, 2015</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 footer-grid">
                <h4>POPULAR CATEGORY</h4>
                <ul class="td-pb-padding-side">
                    <li><a href="#">Architecture<span class="td-cat-no">15</span></a></li>
                    <li><a href="#">New look 2015<span class="td-cat-no">14</span></a></li>
                    <li><a href="#">Gadgets<span class="td-cat-no">14</span></a></li>
                    <li><a href="#">Mobile and Phones<span class="td-cat-no">14</span></a></li>
                    <li><a href="#">Recipes<span class="td-cat-no">14</span></a></li>
                    <li><a href="#">Decorating<span class="td-cat-no">14</span></a></li>
                    <li><a href="#">Interiors<span class="td-cat-no">14</span></a></li>
                    <li><a href="#">Street fashion<span class="td-cat-no">13</span></a></li>
                    <li><a href="#">Vogue<span class="td-cat-no">13</span></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//end-footer-section-->
<!--/start-copyright-section-->
<div class="copyright">
    <p>&copy; @DateTime.Now.Year K15QnamUni. All Rights Reserved | Design by <a target="_blank" href="http://facebook.com/xuanh251">Virtus</a> </p>
</div>
