<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <meta name="keywords" content="" />
    <link href="~/Assets/client/css/bootstrap-3.1.1.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="~/Assets/client/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/client/css/style.css" rel="stylesheet" />
    <link href="~/Assets/client/css/flexslider.css" rel="stylesheet" />
    <link href="~/Assets/client/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/client/css/searchbox.css" rel="stylesheet" />
</head>
<body>
    @{ Html.RenderAction("Header", "Home");}
    <!--/start-banner-->
    @RenderBody()
    <!--//end-main-->
    <!--/start-footer-section-->
    @{ Html.RenderAction("Footer", "Home");}
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    @{ Html.RenderAction("Scripts", "Home");}
</body>
</html>