@model IEnumerable<CDYNews.Web.Models.PostCategoryViewModel>
<div class="connect">
    <h4 class="side">Thể loại</h4>
    <ul class="stay">
        @foreach (var postCategory in Model)
        {
            var url = "/" + postCategory.Alias;
            <li class="c5-element-facebook"><a href="@url"><span class="text">@postCategory.Name</span></a></li>
        }
    </ul>
</div>
