<connectionStrings>
  <clear />
  <add name="CDYNewsConnection" connectionString="data source=.\SQL2014;initial catalog=news_cdy;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>